body {
	background: url(images/ajkate.gif) top left repeat;
}


#container {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

#slika {
	width: 500px;
	height: 268px;
	/*border: 5px solid #fff;*/
	margin: auto;
	/*background: url(images/ajkate.gif) top center no-repeat;*/
	margin-top: -10px;
}

#slogan {
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 70px;
}

#button {
	background: white;
	border: 5px #1f3f58 solid;
}

.obarvan_ajkate {
	color: #ea585a;
}

#pravice {
	margin-top: 80px;
	font-size: 50px;
}